.header {
  width: 100%;
  height: 5rem;
  position: fixed;
  display: flex;
  background: black;
  color: #fff;
  top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: space-around;
}
