.auth-card {
  max-width: 50rem;
  width: 90%;
}

.auth-card h1 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form .inputs {
  width: 60%;
}
.form .inputs input {
  display: block;
  width: 100%;
  height: 2rem;
}

.form .buttons{
  display: flex;
  justify-content: space-between;
}

.form .buttons button {
  width: 6rem;
  height: 2rem;
  background: #4d1601;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}
